@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Merriweather:wght@300&display=swap');
body {
    background-color: #778777;
}

.nav > li{
    display:inline-block;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 30px;
    padding-left: 10px;
    margin: 0px;
    padding-top: 0px;
}
nav{
    position: fixed;
    background-color: #4a694a;
    color: 			#86592d;
    display: block;
    width: 100%;
    margin: 0;
    border-bottom-right-radius: 10px;
    /*border-bottom-left-radius: 10px; ew notes*/
}
li > a {
    text-decoration: none;
    color: 		#4f3114;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 20px;
    padding: 2px;
    border: 6px solid #4a694a;
    background-color: #4a694a;
    border-radius: 15px;
}
li > a:hover {
    border: 6px solid #547e54;
    background-color: #547e54;
}
ul{
    padding: 0;
    margin: 0;
}
#main{
    padding: 8px;
    padding-top: 60px;
}
body{
    margin: 0;
}
#links{
    display: inline-block;
    vertical-align: super;
    margin-left:5%;
}
#links > li{
  display: inline;
}
li > h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
ul > img{
    vertical-align: bottom;
    width: 5%;
    margin-bottom: -3.5px;
}
#en {
    display: inline-block;
    vertical-align: top;
    flex-grow: 1;
    flex-shrink: 1;
    height: 10%;
    padding-left: 10px;
    width: 35%;
}
#whyv {
    display: inline;
    vertical-align: top;
}
h1{
    color: 	#4f3114;
    font-size: 50px;
    font-family: 'Love Ya Like A Sister', cursive;
}
iframe{
    margin-top: 20px;
    border-radius: 4px;
    background-color: rgb(75, 72, 72);
    box-shadow: 11px 11px 9px 0 rgb(75, 72, 72);
}
#home{
    display: inline-block;
}
#socialheader{
    color: 			#4f3114;
    text-align: center;
    font-size: 60px;
    font-family: 'Love Ya Like A Sister', cursive;
}
 h2 {
    color: 		#4f3114;
    font-size: 40px;
    font-family: 'Love Ya Like A Sister', cursive;
}
a > img{
    width: 259px;
    display: inline-block;
}
.articles > p{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.articles > img{
    display: inline-block;
    width: 49%;
    border-radius: 5px;
}
.articles > video{
    display: inline-block;
    width: 49%;
    border-radius: 5px;
    background-color: black;
    vertical-align: top;
}
.articles > ul {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.articles{
    display: flex;
    display: block;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
.others > div {
    display: flex;
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
div > img {
    width: 40%;
    
}
#endangerd{
    display: inline-block;
}
#mail{
    display: flex;
}
p{
    font-family: 'Merriweather', serif;
    color: #303030;
}
#mail > img{
    width: 15%;
}
#mail > p{
    padding-left: 20px;
    padding-right: 20px;
}
input{
    background-color: rgba(197, 197, 197, 0.274);
    color: 		#4f3114;
    border-radius: 5px;
}
video{
    width: 35%;
}
td{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    border: 1px solid #4f3114;
}